@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

.toggle-mask {
    position: absolute;
    right: -35px;
    top: 5px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}