<div class="content-wrap no-buttons" id="account">

    <section class="inner-wrap account-summary block">
      
      <div class="tbl-like tbl-fix">
        <div class="tbl-row">
          <div class="tbl-cell">
            <p class="account-detail text-truncate">
              Peso Savings account
              <small>6591011240</small>
            </p>
            <p class="account-detail">
              <span class="f-12">CURRENCY</span>
              <small>PHP</small>
            </p>
          </div>
          <div class="tbl-cell text-nowrap">
            <p class="account-balance text-right">
              <small>AVAILABLE BALANCE</small>
              <sub>P</sub> 500,000<sub>.00</sub>
            </p>
            <p class="account-balance text-right">
              <small>CURRENT BALANCE</small>
              <sub>P</sub> 358,402<sub>.00</sub>
            </p>
          </div>
        </div>
      </div>
      
    </section>

    <section class="inner-wrap account-history block">
      <header>
        Last 10 transactions
        <small><a>VIEW MORE</a></small>
      </header>
      <app-transaction-history></app-transaction-history>
      
    </section>
    
  </div>