@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

$account-summary-height: 115px;

#account {
    .account-summary {
        height: $account-summary-height;
        border-bottom: 1px solid $lightestgray;
    }

    .account-detail,
    .account-balance {
        small {
            display: block;
            font-size: 85%;
        }
    }

    .account-detail {
        margin-bottom: 10px;
    }

    .account-balance {
        font-size: 16px;
        line-height: 1.1em;
        small { font-size: 70%; }
        sub { bottom: 3px; }
    }

    .account-history {
        height: calc(100% - #{$account-summary-height});
        max-height: calc(100% - #{$account-summary-height});
        padding-top: 10px;
        padding-bottom: 20px;
        overflow: auto;
        -ms-overflow-style: auto;
        overflow-y: auto;

        header {
            position: relative;
            padding: 0 0 5px;
            text-transform: uppercase;

            small {
                display: block;
                position: absolute;
                width: 65px;
                text-align: center;
                top: 4px;
                right: 0;
            }
        }
    }

    .transaction-piece {
        padding: 10px 0;
        margin-left: -5px;
        margin-right: -5px;
        border-bottom: 1px solid $lightestgray;

        > div {
            padding-right: 5px;
            padding-left: 5px;
        }

        small {
            display: block;
        }

        sub {
            bottom: 1px;
        }

        .trans-arrow {
            float: right;
            display: block;
            width: 25px;
        }
    }
}