@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

#transaction-detail {
    .transaction-summary {
        padding: 10px 0;
        h1 {
            line-height: 1.5em;
            margin-bottom: 20px;
        }
        small {
            display: block;
            color: $gray;
        }

        sub {
            font-size: 50%;
            bottom: 0px;
        }
    }

    .details {
        > div {
            padding: 8px 0;
            border-bottom: 1px solid $lightestgray;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}