<div class="content-wrap" id="transaction-detail">

  <div class="inner-wrap">
    <div class="transaction-summary text-center">
      <p>
        12 Apr 2018, 10:55
        <small>ATM Withdrawal</small>
      </p>
      <h1>
        <i class="fas fa-check-circle f-36 c-lightgreen"></i><br />
        <sub>P</sub> 1,000<sub>.00</sub>
      </h1>
    </div>

    <div class="details">
      <div>
        <div class="row">
          <div class="col">
            Account number
          </div>
          <div class="col text-right">
            6904043256
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            Branch name
          </div>
          <div class="col text-right">
            BDO España
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            Currency
          </div>
          <div class="col text-right">
            PHP
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            Running Balance
          </div>
          <div class="col text-right">
            P 15,000.00
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="button-container">
  <div class="btns">
    <button type="button" class="btn btn-primary btn-block">OK</button>
  </div>
</div>