<div id="header">
  <h3>Privacy Policy and Terms & Conditions</h3>
</div>

<div class="content-wrap full-width-button has-header" id="tnc">

  <div class="inner-wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt convallis ultricies. Aliquam convallis pharetra lorem eget varius. Mauris semper sapien sed commodo vestibulum. Maecenas mauris risus, rhoncus quis placerat in, porta sed neque. Vestibulum non pharetra nibh. Quisque posuere, arcu eget pharetra feugiat, justo nunc venenatis mauris, ac molestie metus nibh id lacus. Fusce interdum magna nulla, at vehicula est elementum eget. Aenean nec nisl ut orci condimentum convallis non at quam. Donec sed neque eu risus dignissim luctus eget vitae mi. Vivamus sit amet congue leo, vel venenatis odio. Donec sagittis diam ac maximus venenatis.</p>
    <p>Quisque in urna porttitor, egestas ex vel, condimentum nibh. Nullam blandit tincidunt enim tempor finibus. Sed condimentum dignissim sapien sed sagittis. Quisque eget mauris ornare risus aliquam tempor. Nam quis sodales lorem. Pellentesque elit est, maximus ut augue sed, facilisis scelerisque elit. Fusce diam magna, placerat in ultrices at, aliquet et dolor. Curabitur a congue nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu rhoncus risus, at viverra lacus.</p>   
    <p>Morbi iaculis diam ut nisi dignissim, sit amet gravida tortor interdum. Sed lobortis, dolor id finibus vehicula, ex ligula bibendum ante, ac aliquam quam sapien at massa. Duis vel tincidunt neque, a finibus velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ornare ligula sed nulla blandit, in lacinia est rutrum. Nam sed efficitur arcu. Praesent diam purus, accumsan placerat odio a, dapibus eleifend arcu. Nunc sit amet felis id augue lobortis imperdiet.</p>
  </div>

</div>

<div class="button-container full-width">
  <div class="btns">
    <button type="button" class="btn btn-primary btn-block">I AGREE</button>
  </div>
</div>