<div class="content-wrap no-buttons">

  <div class="inner-wrap">
    <h1>Want to check your balance?</h1>
    <div class="form-group">
      <label>Please select an account from the list below.</label>
      <select class="form-control" name="accounts" (change)="onSelect($event)">
        <option value="" selected>Choose from the list</option>
        <option value="1">Peso Savings account ...1240</option>
        <option value="2">Peso Checking account ...8523</option>
        <option value="3">Master ...1240</option>
      </select>
    </div>
  </div>

  <app-chat-pin></app-chat-pin>
  
</div>

