@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/mixins';

.transaction-pc {
    color: $black !important;
    padding: 10px 0;
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 1px solid $lightestgray;

    > div {
        padding-right: 5px;
        padding-left: 5px;
    }

    small {
        display: block;
        color: $gray;
    }

    sub {
        bottom: 1px;
    }

    .trans-arrow {
        float: right;
        display: block;
        width: 25px;
    }

    &:last-child {
        border-bottom: 0;
    }
}