<div class="transaction-history-list">
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      16 Aug 2018
      <small>Cash deposit... 9:45 AM</small>
    </div>
    <div class="col text-right">
      + <sub>P</sub> 25,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      12 Aug 2018
      <small>Cash deposit... 11:45 AM</small>
    </div>
    <div class="col text-right">
      + <sub>P</sub> 20,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      10 Aug 2018
      <small>Cash withdrawal... 12:01 PM</small>
    </div>
    <div class="col text-right">
      - <sub>P</sub> 10,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      9 Aug 2018
      <small>Cash withdrawal... 10:45 AM</small>
    </div>
    <div class="col text-right">
      - <sub>P</sub> 10,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      9 Aug 2018
      <small>Cash deposit... 11:15 PM</small>
    </div>
    <div class="col text-right">
      + <sub>P</sub> 20,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      9 Aug 2018
      <small>Cash withdrawal... 11:16 PM</small>
    </div>
    <div class="col text-right">
      - <sub>P</sub> 10,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      8 Aug 2018
      <small>Cash withdrawal... 11:16 PM</small>
    </div>
    <div class="col text-right">
      - <sub>P</sub> 10,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
  <a class="row align-items-center transaction-pc" (click)="viewTransactionDetail()">
    <div class="col">
      8 Aug 2018
      <small>Cash withdrawal... 11:16 PM</small>
    </div>
    <div class="col text-right">
      - <sub>P</sub> 10,000 <sub>.00</sub>
      <div class="trans-arrow">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </a>
</div>